#root {
  width: 100%;
  /* margin: 0 auto; */
  text-align: center;
  font-family: 'Inter custom', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
