#root {
  width: 100%;
  /* margin: 0 auto; */
  text-align: center;
  font-family: 'Inter custom', sans-serif;
  background: rgb(35, 35, 35);
  background: linear-gradient(180deg, rgba(35, 35, 35, 1) 0%, rgba(52, 52, 52, 1) 48%, rgba(70, 70, 70, 1) 100%);
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.custom-shadow {
  -webkit-box-shadow: 5px 5px 10px 2px #000000;
  box-shadow: 5px 5px 10px 2px #000000;
}

.custom-white-shadow{
  -webkit-box-shadow: 5px 5px 5px 1px rgb(73, 68, 68);
  box-shadow: 5px 5px 5px 1px rgb(53, 50, 50);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}